{% extends 'base.html' %}

{% block content %}
<h1>Bags</h1>

<!-- <p class="btn--wrapper"> -->
  <p>
   <a class="a.button3" href="/bags/new">New bag</a>
  </p> 
<ul>
  {% for bag in bags %}
  <li>
  <p>{{ bag.climber.name }} - {{ bag.munro.name }} </p>
  <p>"<i>{{bag.review}}</i>"</p>
    <p>
      <form action="/bags/{{ bag.id }}/delete" method="POST">
        <input class="button3" type='submit' value="DELETE">
        <!-- <a href="{{ url_for('static', filename='css/buttons.css') }}" class="button3">Delete</a> -->
      </form>
    </p>
  </li>
  {% endfor %}
</ul>


{% endblock %}