{% extends 'base.html'%}

{% block content %}

<h1>Munro Bagging</h1>

 <p>
    Mountains. Scotland has plenty, 282 to be exact, all over 3000ft (914.4m) in height. All waiting to be 'bagged'.
     
    The word 'Munro' was first coined in 1891 by Sir Hugh Munro, the founder of the Scottish Mountaineering Club. Hugh was set the task of listing all of Scotlands mountains, and thus being immortalised in our history. The mountain was now the munro.
    
    ​For hundreds of years 'folk' have climbed the bonnie munros. However, 'Munro Bagging' only became popular in the last 40 years. To 'bag' a munro, the climber needs to reach the top. And with 282 munros to choose from, you won't be surprised to know there have been fewer than 7000 to accomplish the feat of bagging them all, and becoming a 'Munroist'.
</p>
    
<h5>"It is not the mountain we conquer, but ourselves." Sir Edmund Hilary</h5>

{% endblock %}